.container {
    width: 100%;
    height: 100vh;
    background-color: #F5F6F7;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card {
    margin: 18px;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 10px;
    max-width: 680px;
    width: 100%;
  }
  .card h1{
    margin:12px;
  }
  .loginForm button{
     margin-top: 20px;
     background-color: #207BE5;
     color: white;
     width: 100%;
     padding: 10px;
     border-radius:10px ;
     cursor: pointer;
  }
  .loginForm button:disabled{
   opacity: 0.65;
   cursor: not-allowed;
  }
  .inputContainer{
    display: flex;
    flex-direction: column;
  }
  .inputContainer input{
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .error{
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border-radius: 10px;
    background-color: #FDF3F3;
    color: #EC3F3F;
    display: flex;
    align-items: center;
  }
  .error .icon{
    margin-right: 5px;
  }